/* Reset default margin and padding */
body, h1, h2, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Set a base font size and line height for better readability */
body {
    font-size: 16px;
    line-height: 1.6;
}

/* Use a custom font stack for better aesthetics */
body {
    font-family: 'Arial', sans-serif;
}

/* Set the background color to white */
body {
    background-color: #734b6d; /* White background color */
}

/* Center content vertically and horizontally */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height to center small content */
}

/* Add some spacing to the top title */
.title {
    font-size: 28px; /* Slightly larger title */
    font-weight: bold;
    animation: titleGlow 2s infinite alternate;
    margin-top: 40px; /* Increase top margin for more space */
    color: #000000; /* Black color */
}

/* Create a nice glow effect for the title */
@keyframes titleGlow {
    0% {
        color: #1c171c;
        text-shadow: 0 0 10px rgba(29, 3, 29, 0.8); /* Dark Purple */
    }
    100% {
        color: #5f0658;
        text-shadow: 0 0 10px rgba(158, 0, 142, 0.8); /* Dark Magenta */
    }
}

/* Style the input container */
.input-container {
    text-align: center;
    margin-bottom: 20px;
    animation: glowAnimation 2s infinite alternate;
}

/* Apply a glow animation to the input container */
@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 20px rgba(128, 0, 128, 0.8);
    }
    100% {
        box-shadow: 0 0 20px rgba(158, 0, 142, 0.8);
    }
}



/* Style the text input */
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: #ffffff;
}




/* Style the progress bar container */
.progress-bar {
    width: 50%;
    height: 20px;
    background-color:#c6d4d4;
    position: relative;
    margin-top: 20px;
    min-height: 20px;
    border-radius: 10px;
    overflow: hidden;
    animation: glowAnimation 2s infinite alternate;
}

/* Style the progress bar fill */
.progress-fill {
    height: 100%;
    background: linear-gradient(to right, #500080, #9e008e);
    width: 0;
    transition: width 0.3s;
    border-radius: 10px;
    box-sizing: border-box; /*Make sure padding and border are included in total width and height */
} 


/* Style the result text */
.result {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: rgb(220, 183, 215);
}

/* Style the requirements text */
.requirements {
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    color: rgb(215, 176, 208);
}

/* Responsive Styles for Mobile View */
@media screen and (max-width: 600px) {
    input[type="text"] {
        width: 80%;
    }

    .requirements {
        max-width: 100%;
        padding: 10px;
    }

    .progress-bar {
        min-height: 15px;
    }
}

.image-container img {
    height: 100px;
    width: 120px;
    height: auto; /* maintain the aspect ratio */
   margin-top: -15px;
    margin-bottom: -50px;  
   
}



body {
    background-image: url('Back.webp'); /* replace with the path to your image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed; /* This will fix the background image to the viewport */
    background-size: cover; /* This will make sure your image covers the whole page */
}


.image-left,
.image-right {
    position: fixed; /* Fixed position */
    top: 35%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    z-index: -1; /* Place it behind other elements, if necessary */
}

.image-left img,
.image-right img {
    max-height: 60vh; /* Prevent the image from being taller than the viewport */
    width: auto; /* Maintain aspect ratio */
    max-width: none; /* Allow the image to be as wide as it needs while respecting max-height */
    margin-left: 10px;
    margin-right: 10px;
}

.image-left {
    left: 0; /* Position to the left */
   
}

.image-right {
    right: 0; /* Position to the right */
    
}



.footer {
    position: fixed; /* Fix position to the bottom of the page */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(66, 23, 83, 0.8); 
    color: white; /* White text color */
    text-align: center; /* Center the content */
    padding: 5px 0; /* Add some padding */
    font-size: 1em; /* Set font size */
}

/* Add an animation to the footer */
.footer {
    animation: footerFadeIn 1s ease-in-out forwards;
}

/* Create an animation for the footer */
@keyframes footerFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* Add fixed background images to the top left and top right corners */
.top-left-background-image, .top-right-background-image {
    position: fixed;
    top: 0;
    width:20%;
    z-index: -1;
}

.top-left-background-image {
    left: 0;
    width:20px;
    background: url('pic3.jpg') no-repeat top left; 
    background-size: contain;
}

.top-right-background-image {
    right: 0;
    background: url('pic4.jpg') no-repeat top right;
    background-size: contain;
}
